<h1>Movies </h1>
 
 

 <ul>
  <% @movies.each do |movie| %>
    <li>
      <a href="/movies/<%= movie.id %>">
      <br></br>
    <%= movie.titles %>
        </a>
        
       
    </li>
  <% end %>
</ul>